header.header
    .container
        .header__logo
            img(src="../img/logo/main_logo.png").header__logo-img
            span.header__logo-text Эппл Shop

        .header__phone
            a(href="tel:+79213221232").header__phone-value
                sup.header__phone-code +7(921)
                span.header__phone-number 3221232

            a(href='mailto:support@mail.ru').header__mail support@mail.ru
