nav.navigation
    .container
        ul.navigation__list
            each title in ['Мобильные телефоны', 'Планшеты', 'Mp3 плееры', 'Персональные компьютеры', 'Ноутбуки', 'Apple TV', 'Аксессуары']
                li.navigation__item
                    a.navigation__link
                        span.navigation__text= title
